.button{
    -fx-background-color: white;
    -fx-background-radius: 8px;
    -jfx-disable-visual-focus: true;
    -fx-text-fill: #9e9e9e;
}

.button:hover {
    -fx-background-color: #0067b1;
    -fx-opacity: 0.8;
    -fx-text-fill: white;
    -fx-font-size: 24;
    -fx-font-weight: 800;
}

.button:hover .nav-icon {
    -fx-fill: white;
}

.nav-btn-selected {
    -fx-background-color: #0067b1;
    -fx-opacity: 0.8;
    -fx-text-fill: white;
    -fx-font-size: 24;
    -fx-font-weight: 800;
}

.nav-btn-selected .nav-icon {
    -fx-fill: white;
}

.button:selected {
    -fx-background-color: #0067b1;
    -fx-opacity: 0.8;
    -fx-text-fill: white;
    -fx-font-size: 24;
    -fx-font-weight: 800;
}

