.tab-header-background {
    -fx-background-color: #287ab5;
}

.jfx-tab-pane .tab-header-area .jfx-rippler{
    -jfx-rippler-fill: white;
}

.jfx-tab-pane .tab-selected-line {
    -fx-background-color: white;
}

