.header {
    -fx-font-family: "Graphik Regular";
    -fx-font-size: 25;
}

.message {
    -fx-font-family: "Proximanova";
    -fx-font-size: 16;
}

.navigation {
    -fx-font-family: "Proximanova";
    -fx-font-size: 24;
}

